@model CreateContactDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<!-- contacts -->
<section class="w3l-contact-7 pt-5" id="contact">
    <div class="contacts-9 pt-lg-5 pt-md-4">
        <div class="container">
            <div class="top-map">
                <div class="row map-content-9">
                    <div class="col-lg-8">
                        <div class="contact-form">
                            <h5 class="mb-2">İletişime Geçin</h5>
                            <p class="mb-4">Bizimle İletişime Geçmek için Mesaj Gönderebilirsiniz.</p>
                            <form  method="post">
                                <div class="form-grid">
                                    <div class="input-field">
                                        <input type="text" asp-for="Name" id="w3lName" placeholder="Adınız"
                                               required="">
                                    </div>
                                    <div class="input-field">
                                        <input type="email" asp-for="Email" id="w3lSender" placeholder="Email Adresiniz"
                                               required="">
                                    </div>
                                </div>
                                <br/>
                                <div class="input-field">
                                    <input type="tel" asp-for="Phone" id="w3lName" placeholder="Telefon Numaranız"
                                           required="">
                                </div>
                                <br />
                                <div class="input-field">
                                    <input type="text" asp-for="Subject" id="w3lName" placeholder="Başlık"
                                           required="">
                                </div>

                                <div class="input-field mt-4">
                                    <textarea  asp-for="Message" placeholder="Mesajınız"></textarea>
                                </div>
                               
                                <button type="submit" class="btn btn-primary btn-style mt-3">Gönder</button>
                            </form>
                        </div>
                    </div>

                    @await Component.InvokeAsync("_DefaultWrtieUsInformationComponentPartial");

                  
                </div>
            </div>
        </div>
       
    </div>
</section>
<!-- //contacts -->